$blue: #527aff;

::-webkit-scrollbar {
	display: none;
}

html,
body {
	width: 100%;
	margin: 0;
	padding: 0;
	overflow: hidden;
	height: 100%;

	font-size: 16px;
	font-family: 'Sofia Pro';
}

svg {
	margin: 0;
	padding: 0;
}

h1,
h2,
h3,
h4,
h5 {
	padding: 0;
	margin: 0;
}

h1 {
	font-size: 4em;
}

h1.header {
	margin-left: 0.5em;
}

h2 {
	font-size: 3em;
	margin-left: 1em;
	margin-right: 1em;
}

h3 {
	font-size: 2em;
}

#nav {
	height: 4em;
	width: 80%;

	box-shadow: 1px 3px 10px #888888;
	border-radius: 0 0 1em 1em;

	display: flex;
	flex-direction: row;
	justify-content: start;
	align-items: center;

	padding-left: 4em;
	margin: 0 auto;
}

#content {
	margin: 0 auto;
	margin-top: 2em;
	height: calc(100% - 6em);
	width: calc(100% - 2em);

	#state-1 {
		width: calc(50% - 2px);
		height: 100%;
		float: left;

		border-right: 2px dashed $blue;

		#procs-1 {
			float: left;
			width: 24em;
			height: 100%;
			overflow: auto;
		}

		#pages-1 {
			float: left;
			height: 100%;
			width: calc(100% - 24em);
		}
	}

	#state-2 {
		width: 50%;
		height: 100%;
		float: left;
		text-align: right;

		h1 {
			margin-left: 0;
			margin-right: 0.5em;
		}

		#procs-2 {
			float: right;
			width: 24em;
			height: 100%;
			overflow: auto;
		}

		#pages-2 {
			float: right;
			height: 100%;
			width: calc(100% - 24em);
		}
	}
}

$grayDark: #888;
$grayLight: #c4c4c4;
$shadowIdle: 1px 2px 8px $grayLight;
$shadowHover: 1px 3px 12px $grayDark;
$shadowClicked: 1px 2px 8px $grayLight;

// button component
$buttonMargin: 0.5em;

$buttonPadding: 2em;

.button {
	background: $blue;
	cursor: pointer;
	color: white;
	position: relative;
	display: inline-flex;
	align-items: center;

	font-size: 1.5em;
	height: 2em;

	margin-left: $buttonMargin;
	margin-right: $buttonMargin;

	padding-left: $buttonPadding;
	padding-right: $buttonPadding;

	border-radius: 1em;
	border: none;

	// handle hover + click animation
	transition: 0.2s ease box-shadow;
	box-shadow: $shadowIdle;

	&:hover {
		box-shadow: $shadowHover;
	}
	&:active {
		box-shadow: $shadowClicked;
	}

	&.navButton {
		margin-left: auto;
	}
}
